YAHOO_IMAP_USERNAME=you@yahoo.com
GMAIL_IMAP_USERNAME=you@gmail.com
UIUC_IMAP_USERNAME=netid@illinois.edu

YAHOO_APP_PASSWORD=app_password_with_no_quotes
GMAIL_APP_PASSWORD=app_password_with_no_quotes

# Microsoft Entra (Azure AD) app registration
M365_CLIENT_ID=
M365_TENANT=
